<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div class='container'>
            <h1>The Library</h1>
            {% block content %}{% endblock %}
            <h3><a href="/main">Home</a></h3>
        </div>
    </body>
</html>
