{% extends 'base.html.twig' %}

{% block content %}
    <h3>Welcome to the library!</h3>
    <p>Login</p>
    <form action='/main'>
        <p>Type:</p>
        <select name='user'>
            <option value='patron'>Patron</option>
            <option value='librarian'>Librarian</option>
        </select>

        <label for='user_name'>Name: </label>
        <input type='text' name='user_name' required>

        <button type='submit'>Login</button>
    </form>
{% endblock %}
